@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* -------------------------------------------------------  */

/* -------------------Global Rules------------------------- */

/* ------------------------------------------------------- */

:root {
    --main-color: #ff003c;
    --second-color: #141517;
    --third-color: #f0f0f2;
    --four-color: #4a4a4b;
    --white-color: #fff;
    --header-font-color: #0b1c39;
    --text-color: #212025;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.grid-container {
    display: grid;
    gap: 20px;
}

.btn {
    padding: 20px 34px;
    background-color: var(--four-color);
    color: var(--white-color);
    border: 0;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.btn::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: -1;
    /* transition: width .3s linear;
    -webkit-transition: width .3s linear;
    -moz-transition: width .3s linear;
    -ms-transition: width .3s linear;
    -o-transition: width .3s linear; */
}

.btn-2 {
    padding: 20px 34px;
    background-color: var(--main-color);
    color: var(--white-color);
    border: 0;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.btn-2::after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--four-color);
    z-index: -1;
    /* transition: width .3s linear;
    -webkit-transition: width .3s linear;
    -moz-transition: width .3s linear;
    -ms-transition: width .3s linear;
    -o-transition: width .3s linear; */
}

.btn:hover::before, .btn-2:hover::after {
    animation: width .8s linear;
    -webkit-animation: width .8s linear;
    width: 100%;
}

@keyframes width {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    70% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

/* -------------------------------------------------------  */

/* -------------------Global Rules------------------------- */

/* ------------------------------------------------------- */

nav {
    width: 100%;
    background-color: var(--white-color);
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    filter: drop-shadow(1px 2px 4px rgb(25 25 25 / 10%));
    z-index: 9999;
}

nav .brand {
    width: 25%;
}

nav label, nav #inp {
    display: none;
}

nav .list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    font-size: 16px;
    padding: 2% 0px;
    position: relative;
}

nav .list li:hover>a {
    color: var(--main-color);
}

nav .list li:nth-child(4)::after {
    content: "HOT";
    background-color: var(--main-color);
    color: var(--white-color);
    position: absolute;
    top: -10px;
    left: 50px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 3px 8px;
    filter: drop-shadow(2px 4px 6px #ccc);
    -webkit-filter: drop-shadow(2px 4px 6px #ccc);
}

nav .list li>a {
    color: var(--second-color);
    font-weight: 600;
    line-height: 1.4;
}

nav .list li .dropdown {
    width: 150px;
    position: absolute;
    bottom: -400%;
    padding: 15px;
    background-color: var(--white-color);
    border-top: 3px solid var(--main-color);
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    visibility: hidden;
    opacity: 0;
    filter: drop-shadow(1px 2px 4px #e0e0e0);
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}

nav .list li:hover .dropdown {
    bottom: -375%;
    visibility: visible;
    opacity: 1;
}

nav .list li:nth-child(5) .dropdown {
    bottom: -300%;
    padding: 10px;
}

nav .list li:nth-child(5):hover .dropdown {
    bottom: -279%;
}

nav .list li .dropdown::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -20px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--main-color);
    border-left: 10px solid transparent;
}

nav .list li .dropdown>li {
    margin-bottom: 10px;
}

nav .icon {
    width: 25%;
    text-align: right;
}

nav .icon>a {
    font-size: 16px;
    font-weight: 400;
    margin-right: 5%;
    color: var(--second-color);
}

nav .icon a:hover i {
    color: var(--main-color)
}

/* ---------------nav---------------*/

/*--------------header---------------*/

header {
    background-color: var(--third-color);
    overflow: hidden;
}

header .container .row {
    justify-content: space-between;
}

header .container .row .header-content {
    align-self: center;
    animation: header-content .8s;
    -webkit-animation: header-content 1s;
    animation-timing-function: ease-in-out;
}

@keyframes header-content {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }
}

header .container .row .header-content>h1 {
    font-size: 96px;
    font-weight: 800;
    line-height: 1.2;
    color: var( --header-font-color);
    margin-bottom: 26px;
}

header .container .row .header-content>p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-color);
    margin-bottom: 60px;
    padding-right: 50px;
}

header .container .row .img {
    animation-name: imgScale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes imgScale {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
}

/*--------------header---------------*/

/*--------------new arrival ---------------*/

.newarrivales {
    padding: 5% 0;
}

.newarrivales .container .content-head {
    margin-bottom: 62px;
}

.newarrivales .container .content-head h2 {
    color: var(--second-color);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.newarrivales .container .row {
    gap: 40px;
}

.newarrivales .container .row .product {
    width: 33.333%;
    margin-bottom: 25px;
}

.newarrivales .container .row .product .img-product {
    overflow: hidden;
    margin-bottom: 30px;
}

.newarrivales .container .row .product .img-product>img {
    width: 100%;
    height: 100%;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
}

.newarrivales .container .row .product:hover .img-product>img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.newarrivales .container .row .product .content-product {
    text-align: center;
}

.newarrivales .container .row .product .content-product>a {
    color: var(--four-color);
    font-weight: 700;
    font-size: 24px;
}

.newarrivales .container .row .product .content-product>p {
    margin-top: 23px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
}

/*--------------new arrival ---------------*/

/*--------------new product ---------------*/

.newproduct {
    padding: 2% 0;
    width: 100%;
}

.newproduct .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(330px, auto));
}

.newproduct .grid-container .item {
    overflow: hidden;
    position: relative;
}

.newproduct .grid-container .item:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
}

.newproduct .grid-container .item:nth-child(2) {
    grid-row: 1/3;
}

.newproduct .grid-container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}

.newproduct .grid-container .item::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(1, 10, 28, .3);
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}

.newproduct .grid-container .item:hover::before {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.newproduct .grid-container .item:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

/*--------------new product ---------------*/

/*--------------Popular -------------------*/

.Popular {
    padding: 5% 0 8% 0;
}

.Popular .container .content-head {
    text-align: center;
    padding-bottom: 30px;
}

.Popular .container .content-head>h2 {
    color: var(--second-color);
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 30px;
}

.Popular .container .content-head>p {
    color: var(--four-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
}

.Popular .container .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    padding-bottom: 5%;
}

.Popular .container .grid-container .item-img {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.Popular .container .grid-container .item-img>img {
    width: 100%;
    border-bottom: 3px solid var(--main-color);
}

.Popular .container .grid-container .add-cart {
    width: 100%;
    padding: 30px;
    position: absolute;
    bottom: -50%;
    left: 0;
    text-align: center;
    background-color: var(--main-color);
    color: var(--white-color);
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}

.Popular .container .grid-container .Popular-item:hover .add-cart {
    bottom: 0;
}

.Popular .container .grid-container .item-img .favorit-items {
    position: absolute;
    top: 12px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
}

.Popular .container .grid-container .Popular-item:hover .item-img .favorit-items {
    visibility: visible;
    opacity: 1;
}

.Popular .container .grid-container .item-img .favorit-items>a {
    color: var(--four-color);
}

.Popular .container .grid-container .item-img .favorit-items>a i {
    font-size: 30px;
}

.Popular .container .grid-container .item-content {
    text-align: center;
}

.Popular .container .grid-container .item-content>h2 {
    color: var(--four-color);
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
}

.Popular .container .row .item-content>p {
    margin-top: 23px;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}

.Popular .container .view-more {
    text-align: center;
}

/*--------------Popular -------------------*/

/* --------------media query----------------- */

@media (max-width: 1119px) {}

@media (max-width:991px) {
    /*--------------nav ---------------*/
    nav {
        padding: 5% 3%;
    }
    nav .brand {
        width: 20%;
        max-width: 25%;
    }
    nav .brand img {
        width: 100%;
    }
    nav label {
        display: block;
        order: 3;
    }
    nav .icon {
        width: 30%;
        text-align: center;
    }
    nav .list {
        width: 95%;
        display: unset;
        margin: 0 auto;
        position: absolute;
        right: 2.5%;
        top: 120%;
        background-color: var(--white-color);
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in;
        -webkit-transition: all .4s ease-in;
        -moz-transition: all .4s ease-in;
        -ms-transition: all .4s ease-in;
        -o-transition: all .4s ease-in;
        filter: drop-shadow(1px 2px 4px #e0e0e0);
        z-index: 999;
    }
    nav #inp:checked~.list {
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
    nav .list li:nth-child(4):after {
        display: none;
    }
    nav .list li .dropdown {
        position: unset;
        background: transparent;
        padding: 7px 7px 0;
        border-top: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        filter: 0;
        -webkit-filter: 0;
        display: none;
    }
    nav .list li:hover .dropdown {
        position: unset;
    }
    nav .list li .dropdown::before {
        display: none;
    }
    nav .list li:hover .dropdown {
        display: block;
    }
    nav .icon a {
        margin-right: 6px;
    }
    /*--------------nav ---------------*/
    /*--------------header ---------------*/
    header .container .row {
        justify-content: space-between;
    }
    header .container .row .header-content {
        width: 66%;
        align-self: center;
    }
    header .container .row .header-content h1 {
        font-size: 37px;
        margin-bottom: 22px;
    }
    header .container .row .header-content p {
        margin-bottom: 32px;
    }
    header .container .row .img {
        width: 25%;
    }
    header .container .row .img>img {
        width: 100%;
    }
    /*--------------new arrival ---------------*/
    .newarrivales .container .row {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .newarrivales .container .row .product {
        width: 46%;
    }
    /*--------------new arrival ---------------*/
    /*--------------new product ---------------*/
    .newproduct .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 330px);
        padding-bottom: 10%;
    }
    .newproduct .grid-container .item {
        width: 100%;
    }
    .newproduct .grid-container .item:nth-child(1) {
        grid-column: unset;
    }
    .Popular .container .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
    }
    .Popular .container .content-head>p {
        width: 85%;
    }
    .Popular .container .grid-container .item-content>h2 {
        font-size: 16px;
    }
}

@media (max-width:767px) {}

@media (max-width:575px) {
    .btn-2 {
        padding: 20px 25px;
    }
    /*--------------header ---------------*/
    header {
        padding: 45px 0;
    }
    header .container .row .header-content {
        width: 100%;
    }
    header .container .row .img {
        display: none;
    }
    header .container .row .header-content>h1 {
        font-size: 35px;
        margin-bottom: 18px;
    }
    /*--------------header ---------------*/
    /*--------------new arrival ---------------*/
    .newarrivales {
        padding: 98px 0;
    }
    .newarrivales .container .content-head>h2 {
        font-size: 37px;
    }
    .newarrivales .container {
        width: 90%;
    }
    .newarrivales .container .row {
        flex-wrap: wrap;
    }
    .newarrivales .container .row .product {
        width: 100%;
    }
    .newarrivales .container .row .product .content-product>a {
        font-size: 21px;
    }
    /*--------------new arrival ---------------*/
    /*--------------new product ---------------*/
    .newproduct .grid-container {
        display: block;
    }
    .newproduct .grid-container .item {
        height: 330px;
        max-height: 688px;
        margin-bottom: 30px;
    }
    .grid-container .item:nth-child(1) {
        height: 688px;
    }
    /*--------------new product ---------------*/
    .Popular .container .content-head>h2 {
        font-size: 33px;
    }
    .Popular .container .content-head>p {
        width: 100%;
    }
    .Popular .container .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: unset;
        padding-bottom: 10%;
    }
    .Popular .container .grid-container .item-content>h2 {
        font-size: 20px;
    }
}